.tab{
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.container{
    width: 310px;
    border: 2px solid black;
    margin: auto;
    background-color: rgb(240, 233, 233);
}
.container input{
    width: 280px;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 25px;
}
.tab button{
    font-size:25px;
    /* padding: 5px; */
    margin: 3px;
    background-color: rgb(245, 242, 88);
    width: 60px;
    height: 40px;
    border-radius: 6px;
}
h1{
    margin: auto;
    width: 200px;
}
.tab button{
    cursor: pointer;
}